<footer class="footer">

    <div class="footer-container">

        
      <div class="footer-section">
        <h3>Company</h3>
        <ul>
          <li><a href="">About</a></li>
          <li><a href="">Careers</a></li>
          <li><a href="">Our Culture</a></li>
          <li><a href="">Giving</a></li>
          <li><a href="">Partners</a></li>
          <li><a href="">News</a></li>
          <li><a href="">MovieMax Gear</a></li>
          <li><a href="">The MovieMax Blog</a></li>
          <li><a href="">Advertise with Us</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>MovieMax Pass</h3>
        <ul>
          <li><a href="">Go Premium</a></li>
          <li><a href="">MovieMaxamp</a></li>
          <li><a href="">MovieMax Labs</a></li>
          <li><a href="">Get Perks</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>Downloads</h3>
        <ul>
          <li><a href="">MovieMax Media Server</a></li>
          <li><a href="">Apps & Devices</a></li>
          <li><a href="">MovieMaxamp</a></li>
          <li><a href="">Where to Watch</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>Support</h3>
        <ul>
          <li><a href="">Finding Help</a></li>
          <li><a href="">Support Library</a></li>
          <li><a href="">Community Forums</a></li>
          <li><a href="">Billing Questions</a></li>
          <li><a href="">Status</a></li>
          <li><a href="">Bug Bounty</a></li>
          <li><a href="">CordCutter</a></li>
          <li><a href="">Get in Touch</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>Watch Free</h3>
        <ul>
          <li><a href="">Discover on MovieMax</a></li>
          <li><a href="">TV Channel Finder</a></li>
          <li><a href="">What to Watch</a></li>
          <li><a href="">What to Watch on MovieMax</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <p>© 2024 MovieMax. Privacy & Legal | Accessibility | Manage Cookies | Language: English (US)</p>
    </div>
  </footer>
  